@model turnos.Models.Medico

<h3>¿Estas seguro de eliminar el siguiente registro?</h3>

<div>
    <dl>
       <dt>
           @Html.DisplayNameFor(modelo => modelo.Nombre)
       </dt>
       <dd>
           @Html.DisplayFor(modelo => modelo.Nombre)
       </dd>
       <dt>
           @Html.DisplayNameFor(modelo => modelo.Apellido)
       </dt>
       <dd>
           @Html.DisplayFor(modelo => modelo.Apellido)
       </dd>
       <dt>
           @Html.DisplayNameFor(modelo => modelo.Direccion)
       </dt>
       <dd>
           @Html.DisplayFor(modelo => modelo.Direccion)
       </dd>
       <dt>
           @Html.DisplayNameFor(modelo => modelo.Telefono)
       </dt>
       <dd>
           @Html.DisplayFor(modelo => modelo.Telefono)
       </dd>
       <dt>
           @Html.DisplayNameFor(modelo => modelo.Email)
       </dt>
       <dd>
           @Html.DisplayFor(modelo => modelo.Email)
       </dd>
        <dd>
           @Html.DisplayNameFor(modelo => modelo.HorarioAtencionDesde)
       </dd>
        <dd>
           @Html.DisplayFor(modelo => modelo.HorarioAtencionDesde)
       </dd>
       <dd>
           @Html.DisplayNameFor(modelo => modelo.HorarioAtencionHasta)
       </dd>
        <dd>
           @Html.DisplayFor(modelo => modelo.HorarioAtencionHasta)
       </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdMedico">
        <input type="submit" value="Eliminar">
         <a asp-action="Index">Volver</a>
    </form>
</div>