@model turnos.Models.Paciente

<h3>¿Estas seguro de eliminar el siguiente registro?</h3>

<table class="table table-striped table-bordered">
    <thead class="bg-danger text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(modelo => modelo.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(modelo => modelo.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(modelo => modelo.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(modelo => modelo.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(modelo => modelo.Email)
            </th>
        </tr>
    </thead>
    <tbody>
        <td>
            @Html.DisplayFor(modelo => modelo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelo => modelo.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelo => modelo.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelo => modelo.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelo => modelo.Email)
        </td>
    </tbody>
</table>
<form asp-action="Delete">
    <input type="hidden" asp-for="IdPaciente">
    <input type="submit" value="Eliminar" class="btn btn-danger">
    <a class="btn btn-secondary" asp-action="Index"><i class="fas fa-arrow-left mr-2"></i>Volver</a>
</form>
</div>