@model turnos.Models.Paciente

<h4>Paciente</h4>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.Nombre)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.Apellido)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.Direccion)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.Telefono)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPaciente">Editar</a>
    <a asp-action="Index">Volver</a>
</div>