@model IEnumerable<turnos.Models.Paciente>

<p>
      <a asp-action="Create" class="btn btn-success ">Nuevo Paciente<i class="fas fa-plus-circle ml-2"></i></a>

</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @*comentario*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPaciente">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdPaciente">Detalle</a>
                    <a asp-action="Delete" asp-route-id="@item.IdPaciente">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
